/* Google fonts import - Maacondo, DM Sans, Raleway */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Macondo&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to overrride default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000000;
}

/* Header */
header {
    background-color: #ff00b3;
}

/* Main Content */
main {
    background-color: #cac4ce;
    /* Make main element take up any surplus to push footer down  */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #fcbd00;
}